html, body {
    font-size: 10px;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-floral-white);
    font-family: 'Press Start 2P', cursive;
}